/* You can add global styles to this file, and also import other style files */

/*
  Color del Loading
*/
svg path,
svg rect{
  fill: black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.title_center {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
